* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: #fde2e4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

img {
  width: 200px;
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
  opacity: 0.8;
}

.buttons {
  position: relative;
  height: 60px;
}

button {
  padding: 10px 25px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#yesBtn {
  background: #ff6b81;
  color: white;
  margin-right: 10px;
}

#noBtn {
  background: white;
  color: #333;
  position: absolute;
}
